pyautogui
requests
opencv-python
numpy
pyttsx3
SpeechRecognition
wikipedia
smtplib
webbrowser
os
spotipy
python-dotenv
pyautogui
psutil
pyjokes
subprocess
time
numpy
opencv-python
tk
google-generativeai
threading
queue
mss
logging
randfacts
pywhatkit
requests
pyowm
tkcalendar

